@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-section{
    margin-top: 4.4rem;
    font-size: 170px;
    line-height: 135px;
}

.hero-section h1{
    letter-spacing: 1px;
}
.hero-btn, .hero-btn-i {
    border: 1px solid white;
    padding: 3px 12px;
    text-transform: uppercase;
    border-radius: 20px;
    outline: none; 
    transition: all 0.3s;
}

.hero-buttons:hover .hero-btn, .hero-buttons:hover .hero-btn-i{
    color: #212121; 
    background-color: #f1f1f1;  
}
